<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %} 
            {% if request.user.is_authenticated %}
              Welcome, {{request.user.username }}
                <form method="post" action="url">{% csrf_token %}
                    <input name="username"  type="text" placeholder="username">
                    <input name="password"  type="password" placeholder="password">
                    <button type="submit">login</button>
                </form>
                {% else %}
            {% endif  %}
            {% endblock  %} 
    </title>
    {% block style %}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock  %}
</head>
<body>
    {% block content %}
        {% include "header.html" %}
    {% endblock  %}
</body>
</html>